<!DOCTYPE html>
<html>
<head>
    <title>Face Recognition Attendance System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="container">
        <h1>Face Recognition Attendance System</h1>
        <div class="select-container">
            <form action="{{ url_for('select_class') }}" method="post">
                <h2>Select Class Section</h2>
                <select name="class" id="class" required>
                    <option value="">Choose Section...</option>
                    <option value="SE-A">SE-A</option>
                    <option value="SE-B">SE-B</option>
                    <option value="SE-C">SE-C</option>
                </select>
                <br>
                <button type="submit" class="mark-btn">Mark Attendance</button>
            </form>
            <a href="{{ url_for('add_student') }}" class="add-btn">Add New Student</a>
        </div>
    </div>
</body>
</html>
